<div class="container-fiuld reservations">
    <h4 class="pb-4">予約済みルーム一覧</h4>
    <table>
        <thead>
            <tr align="center">
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th>
                <th>料金</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <% @rooms.each do |room| %>
            <tr>
                <td><%= image_tag room.image, class: "room-posts-image" %></td>
                <td><%= room.name %></td>
                <td><%= room.introduce %></td>
                <td><%= room.price %></td>
                <td><%= room.created_at %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>